<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Compressed="yes" ProductCode="30854a0c-8c60-4957-8ba4-a0a58f34fa12" Name="Pkn_HostSystem" Language="2052" Version="1.2.0.0" UpgradeCode="f9a314c0-7f34-4a5d-abf3-54c4c48b9f2c" Manufacturer="Pokeniao" InstallerVersion="200">
    <SummaryInformation Codepage="936" />
    <Media Id="1" Cabinet="Pkn_HostSystem.cab" EmbedCab="yes" />

    <Launch Condition="DOTNET_VERSION &gt;= &quot;8.0.0&quot; AND DOTNET_VERSION &lt; &quot;9.0.0&quot;" Message=".NET 8 未安装，无法继续安装。&#xA;请先下载安装：https://dotnet.microsoft.com/en-us/download/dotnet/8.0" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="Pokeniao" Name="Pokeniao">
        <Directory Id="INSTALLDIR" Name="Pkn_HostSystem">

          <Component Id="Component.CommunityToolkit.Mvvm.dll_1504554219" Guid="f9a314c0-7f34-4a5d-abf3-54c48abd357c">
            <File Id="CommunityToolkit.Mvvm.dll_1504554219" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\CommunityToolkit.Mvvm.dll" />
          </Component>

          <Component Id="Component.DeepCloner.dll_2331594489" Guid="f9a314c0-7f34-4a5d-abf3-54c43f15913d">
            <File Id="DeepCloner.dll_2331594489" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\DeepCloner.dll" />
          </Component>

          <Component Id="Component.DynamicData.dll_3509525992" Guid="f9a314c0-7f34-4a5d-abf3-54c479db49d3">
            <File Id="DynamicData.dll_3509525992" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\DynamicData.dll" />
          </Component>

          <Component Id="Component.halcondotnet.dll_2656917078" Guid="f9a314c0-7f34-4a5d-abf3-54c480597c19">
            <File Id="halcondotnet.dll_2656917078" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\halcondotnet.dll" />
          </Component>

          <Component Id="Component.log4net.dll_2844397005" Guid="f9a314c0-7f34-4a5d-abf3-54c4a2b572a5">
            <File Id="log4net.dll_2844397005" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\log4net.dll" />
          </Component>

          <Component Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_583533501" Guid="f9a314c0-7f34-4a5d-abf3-54c4107ae653">
            <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll_583533501" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
          </Component>

          <Component Id="Component.Microsoft.Extensions.DependencyInjection.dll_1933318465" Guid="f9a314c0-7f34-4a5d-abf3-54c4c4dc16a7">
            <File Id="Microsoft.Extensions.DependencyInjection.dll_1933318465" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Extensions.DependencyInjection.dll" />
          </Component>

          <Component Id="Component.Microsoft.Win32.SystemEvents.dll_3912676595" Guid="f9a314c0-7f34-4a5d-abf3-54c43e3cc0e8">
            <File Id="Microsoft.Win32.SystemEvents.dll_3912676595" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Win32.SystemEvents.dll" />
          </Component>

          <Component Id="Component.Newtonsoft.Json.dll_502521095" Guid="f9a314c0-7f34-4a5d-abf3-54c4fd7b218c">
            <File Id="Newtonsoft.Json.dll_502521095" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Newtonsoft.Json.dll" />
          </Component>

          <Component Id="Component.NModbus.dll_1033598858" Guid="f9a314c0-7f34-4a5d-abf3-54c4538d6cae">
            <File Id="NModbus.dll_1033598858" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\NModbus.dll" />
          </Component>

          <Component Id="Component.NModbus.Serial.dll_3840489714" Guid="f9a314c0-7f34-4a5d-abf3-54c4342ec795">
            <File Id="NModbus.Serial.dll_3840489714" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\NModbus.Serial.dll" />
          </Component>

          <Component Id="Component.Pkn_HostSystem.deps.json_1756953878" Guid="f9a314c0-7f34-4a5d-abf3-54c46f57cceb">
            <File Id="Pkn_HostSystem.deps.json_1756953878" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.deps.json" />
          </Component>

          <Component Id="Component.Pkn_HostSystem.dll_753292021" Guid="f9a314c0-7f34-4a5d-abf3-54c45de27a49">
            <File Id="Pkn_HostSystem.dll_753292021" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.dll" />
          </Component>

          <Component Id="Component.Pkn_HostSystem.exe_318430801" Guid="f9a314c0-7f34-4a5d-abf3-54c4b0c26d6e">
            <File Id="Pkn_HostSystem.exe_318430801" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.exe" />
          </Component>

          <Component Id="Component.Pkn_HostSystem.pdb_480851667" Guid="f9a314c0-7f34-4a5d-abf3-54c463f216f1">
            <File Id="Pkn_HostSystem.pdb_480851667" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.pdb" />
          </Component>

          <Component Id="Component.Pkn_HostSystem.runtimeconfig.json_2707448083" Guid="f9a314c0-7f34-4a5d-abf3-54c4f53c987d">
            <File Id="Pkn_HostSystem.runtimeconfig.json_2707448083" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.runtimeconfig.json" />
          </Component>

          <Component Id="Component.RestSharp.dll_1483822914" Guid="f9a314c0-7f34-4a5d-abf3-54c4dab38ce3">
            <File Id="RestSharp.dll_1483822914" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\RestSharp.dll" />
          </Component>

          <Component Id="Component.System.Data.SqlClient.dll_2830561886" Guid="f9a314c0-7f34-4a5d-abf3-54c4cafa4bb0">
            <File Id="System.Data.SqlClient.dll_2830561886" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Data.SqlClient.dll" />
          </Component>

          <Component Id="Component.System.Drawing.Common.dll_2697619026" Guid="f9a314c0-7f34-4a5d-abf3-54c449ae08e3">
            <File Id="System.Drawing.Common.dll_2697619026" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Drawing.Common.dll" />
          </Component>

          <Component Id="Component.System.IO.Ports.dll_3015645469" Guid="f9a314c0-7f34-4a5d-abf3-54c4c0e8fd8a">
            <File Id="System.IO.Ports.dll_3015645469" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.IO.Ports.dll" />
          </Component>

          <Component Id="Component.System.Private.Windows.Core.dll_3491687787" Guid="f9a314c0-7f34-4a5d-abf3-54c45d3dda77">
            <File Id="System.Private.Windows.Core.dll_3491687787" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Private.Windows.Core.dll" />
          </Component>

          <Component Id="Component.System.Reactive.dll_3392391339" Guid="f9a314c0-7f34-4a5d-abf3-54c4562e89e1">
            <File Id="System.Reactive.dll_3392391339" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Reactive.dll" />
          </Component>

          <Component Id="Component.Wpf.Ui.Abstractions.dll_2374808241" Guid="f9a314c0-7f34-4a5d-abf3-54c49843b106">
            <File Id="Wpf.Ui.Abstractions.dll_2374808241" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.Abstractions.dll" />
          </Component>

          <Component Id="Component.Wpf.Ui.DependencyInjection.dll_914604106" Guid="f9a314c0-7f34-4a5d-abf3-54c4d2db4fd3">
            <File Id="Wpf.Ui.DependencyInjection.dll_914604106" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.DependencyInjection.dll" />
          </Component>

          <Component Id="Component.Wpf.Ui.dll_5205624" Guid="f9a314c0-7f34-4a5d-abf3-54c409992eaf">
            <File Id="Wpf.Ui.dll_5205624" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.dll" />
          </Component>

          <Directory Id="Config" Name="Config">

            <Component Id="Component.log4net.config_2775004803" Guid="f9a314c0-7f34-4a5d-abf3-54c4245a29aa">
              <File Id="log4net.config_2775004803" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Config\log4net.config" />
            </Component>

          </Directory>

          <Directory Id="lib" Name="lib">

            <Component Id="Component.halcon.dll_1333314474" Guid="f9a314c0-7f34-4a5d-abf3-54c46d7473b0">
              <File Id="halcon.dll_1333314474" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\halcon.dll" />
            </Component>

            <Component Id="Component.halcondl.dll_3718002559" Guid="f9a314c0-7f34-4a5d-abf3-54c48118a811">
              <File Id="halcondl.dll_3718002559" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\halcondl.dll" />
            </Component>

            <Component Id="Component.hcanvas.dll_443742882" Guid="f9a314c0-7f34-4a5d-abf3-54c4bb73cfe6">
              <File Id="hcanvas.dll_443742882" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\hcanvas.dll" />
            </Component>

          </Directory>

          <Directory Id="runtimes" Name="runtimes">
            <Directory Id="linux2darm" Name="linux-arm">
              <Directory Id="native" Name="native">

                <Component Id="Component.libSystem.IO.Ports.Native.so_3077195307" Guid="f9a314c0-7f34-4a5d-abf3-54c4603bba1f">
                  <File Id="libSystem.IO.Ports.Native.so_3077195307" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\linux-arm\native\libSystem.IO.Ports.Native.so" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="linux2darm64_" Name="linux-arm64">
              <Directory Id="native.1" Name="native">

                <Component Id="Component.libSystem.IO.Ports.Native.so_3554463865" Guid="f9a314c0-7f34-4a5d-abf3-54c4e0d5fc17">
                  <File Id="libSystem.IO.Ports.Native.so_3554463865" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\linux-arm64\native\libSystem.IO.Ports.Native.so" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="linux2dx64_" Name="linux-x64">
              <Directory Id="native.2" Name="native">

                <Component Id="Component.libSystem.IO.Ports.Native.so_1689050070" Guid="f9a314c0-7f34-4a5d-abf3-54c4c6a29e3b">
                  <File Id="libSystem.IO.Ports.Native.so_1689050070" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\linux-x64\native\libSystem.IO.Ports.Native.so" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="osx2darm64_" Name="osx-arm64">
              <Directory Id="native.3" Name="native">

                <Component Id="Component.libSystem.IO.Ports.Native.dylib_2063017412" Guid="f9a314c0-7f34-4a5d-abf3-54c4d99e17e3">
                  <File Id="libSystem.IO.Ports.Native.dylib_2063017412" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\osx-arm64\native\libSystem.IO.Ports.Native.dylib" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="osx2dx64_" Name="osx-x64">
              <Directory Id="native.4" Name="native">

                <Component Id="Component.libSystem.IO.Ports.Native.dylib_1150164858" Guid="f9a314c0-7f34-4a5d-abf3-54c4d8c9da39">
                  <File Id="libSystem.IO.Ports.Native.dylib_1150164858" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\osx-x64\native\libSystem.IO.Ports.Native.dylib" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="unix" Name="unix">
              <Directory Id="lib.1" Name="lib">
                <Directory Id="net7.0_" Name="net7.0">

                  <Component Id="Component.System.IO.Ports.dll_3794498451" Guid="f9a314c0-7f34-4a5d-abf3-54c4f9e7dc40">
                    <File Id="System.IO.Ports.dll_3794498451" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\unix\lib\net7.0\System.IO.Ports.dll" />
                  </Component>

                </Directory>

                <Directory Id="net8.0_" Name="net8.0">

                  <Component Id="Component.System.Data.SqlClient.dll_1917483425" Guid="f9a314c0-7f34-4a5d-abf3-54c461c83b6c">
                    <File Id="System.Data.SqlClient.dll_1917483425" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\unix\lib\net8.0\System.Data.SqlClient.dll" />
                  </Component>

                </Directory>
              </Directory>
            </Directory>

            <Directory Id="win" Name="win">
              <Directory Id="lib.2" Name="lib">
                <Directory Id="net7.0.1" Name="net7.0">

                  <Component Id="Component.System.IO.Ports.dll_1514435143" Guid="f9a314c0-7f34-4a5d-abf3-54c44845e700">
                    <File Id="System.IO.Ports.dll_1514435143" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net7.0\System.IO.Ports.dll" />
                  </Component>

                </Directory>

                <Directory Id="net8.0.1" Name="net8.0">

                  <Component Id="Component.Microsoft.Win32.SystemEvents.dll_337803169" Guid="f9a314c0-7f34-4a5d-abf3-54c4c63e49c0">
                    <File Id="Microsoft.Win32.SystemEvents.dll_337803169" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net8.0\Microsoft.Win32.SystemEvents.dll" />
                  </Component>

                  <Component Id="Component.System.Data.SqlClient.dll_3655428174" Guid="f9a314c0-7f34-4a5d-abf3-54c4c1bc0616">
                    <File Id="System.Data.SqlClient.dll_3655428174" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net8.0\System.Data.SqlClient.dll" />
                  </Component>

                </Directory>
              </Directory>
            </Directory>

            <Directory Id="win2darm64_" Name="win-arm64">
              <Directory Id="native.5" Name="native">

                <Component Id="Component.sni.dll_4281468212" Guid="f9a314c0-7f34-4a5d-abf3-54c4147f29d2">
                  <File Id="sni.dll_4281468212" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-arm64\native\sni.dll" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="win2dx64_" Name="win-x64">
              <Directory Id="native.6" Name="native">

                <Component Id="Component.sni.dll_4133705733" Guid="f9a314c0-7f34-4a5d-abf3-54c434414787">
                  <File Id="sni.dll_4133705733" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-x64\native\sni.dll" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="win2dx86_" Name="win-x86">
              <Directory Id="native.7" Name="native">

                <Component Id="Component.sni.dll_3519526948" Guid="f9a314c0-7f34-4a5d-abf3-54c45504f722">
                  <File Id="sni.dll_3519526948" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-x86\native\sni.dll" />
                </Component>

              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Component Id="Registry.1" Guid="f9a314c0-7f34-4a5d-abf3-54c4c1a86dab" KeyPath="yes">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Id="Pkn_HostSystem___" Type="string" KeyPath="no" Value="&quot;[INSTALLDIR]Pkn_HostSystem.exe&quot;" Name="Pkn_HostSystem" />
        </RegistryKey>

        <CreateFolder />
        <RemoveFolder Id="ProgramFilesFolder" On="uninstall" />
      </Component>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">

      <Component Id="Component.Pkn_HostSystem__" Guid="f9a314c0-7f34-4a5d-abf3-54c40efdef3f">
        <Shortcut Id="DesktopFolder.Pkn_HostSystem__" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]Pkn_HostSystem.exe" Name="Pkn_HostSystem.lnk" />

        <CreateFolder />

        <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
          <RegistryValue Value="0" Type="string" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="Pkn_HostSystem.1" Name="Pkn_HostSystem">

        <Component Id="Component.Pkn_HostSystem.1_" Guid="f9a314c0-7f34-4a5d-abf3-54c444a93c38">
          <Shortcut Id="Pkn_HostSystem.1.Pkn_HostSystem.1_" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]Pkn_HostSystem.exe" Name="Pkn_HostSystem.lnk" />

          <CreateFolder />
          <RemoveFolder Id="Pkn_HostSystem.1" On="uninstall" />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

        <Component Id="Component._53788f7dPkn_HostSystem" Guid="f9a314c0-7f34-4a5d-abf3-54c45eaa026b">
          <Shortcut Id="Pkn_HostSystem.1._53788f7dPkn_HostSystem" WorkingDirectory="SystemFolder" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Name="卸载Pkn_HostSystem.lnk" Icon="IconFile1_Pkn_HostSystem.exe" IconIndex="0" />

          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>
    </StandardDirectory>

    <Icon Id="app_icon.ico" SourceFile="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.exe" />

    <WixUI Id="WixUI_InstallDir" xmlns="http://wixtoolset.org/schemas/v4/wxs/ui" />

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="不能安装比当前版本更低的版本。" Schedule="afterInstallInitialize" />

    <Icon Id="IconFile1_Pkn_HostSystem.exe" SourceFile="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.exe" />

    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="DOTNET_VERSION">
      <RegistrySearch Id="DOTNET_VERSION_RegSearch" Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost" Type="raw" Name="Version" Bitness="always64" />
    </Property>

    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />
    <Property Id="REINSTALLMODE" Value="omus" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="INSTALLDIR" Secure="yes" />

    <Feature Id="Complete" Title="Complete" Level="1" AllowAbsent="yes">
      <ComponentRef Id="Component.CommunityToolkit.Mvvm.dll_1504554219" />
      <ComponentRef Id="Component.DeepCloner.dll_2331594489" />
      <ComponentRef Id="Component.DynamicData.dll_3509525992" />
      <ComponentRef Id="Component.halcondotnet.dll_2656917078" />
      <ComponentRef Id="Component.log4net.dll_2844397005" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_583533501" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.dll_1933318465" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_3912676595" />
      <ComponentRef Id="Component.Newtonsoft.Json.dll_502521095" />
      <ComponentRef Id="Component.NModbus.dll_1033598858" />
      <ComponentRef Id="Component.NModbus.Serial.dll_3840489714" />
      <ComponentRef Id="Component.Pkn_HostSystem.deps.json_1756953878" />
      <ComponentRef Id="Component.Pkn_HostSystem.dll_753292021" />
      <ComponentRef Id="Component.Pkn_HostSystem.exe_318430801" />
      <ComponentRef Id="Component.Pkn_HostSystem.pdb_480851667" />
      <ComponentRef Id="Component.Pkn_HostSystem.runtimeconfig.json_2707448083" />
      <ComponentRef Id="Component.RestSharp.dll_1483822914" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_2830561886" />
      <ComponentRef Id="Component.System.Drawing.Common.dll_2697619026" />
      <ComponentRef Id="Component.System.IO.Ports.dll_3015645469" />
      <ComponentRef Id="Component.System.Private.Windows.Core.dll_3491687787" />
      <ComponentRef Id="Component.System.Reactive.dll_3392391339" />
      <ComponentRef Id="Component.Wpf.Ui.Abstractions.dll_2374808241" />
      <ComponentRef Id="Component.Wpf.Ui.DependencyInjection.dll_914604106" />
      <ComponentRef Id="Component.Wpf.Ui.dll_5205624" />
      <ComponentRef Id="Component.log4net.config_2775004803" />
      <ComponentRef Id="Component.halcon.dll_1333314474" />
      <ComponentRef Id="Component.halcondl.dll_3718002559" />
      <ComponentRef Id="Component.hcanvas.dll_443742882" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.so_3077195307" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.so_3554463865" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.so_1689050070" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.dylib_2063017412" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.dylib_1150164858" />
      <ComponentRef Id="Component.System.IO.Ports.dll_3794498451" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_1917483425" />
      <ComponentRef Id="Component.System.IO.Ports.dll_1514435143" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_337803169" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_3655428174" />
      <ComponentRef Id="Component.sni.dll_4281468212" />
      <ComponentRef Id="Component.sni.dll_4133705733" />
      <ComponentRef Id="Component.sni.dll_3519526948" />
      <ComponentRef Id="Component.Pkn_HostSystem__" />
      <ComponentRef Id="Component.Pkn_HostSystem.1_" />
      <ComponentRef Id="Component._53788f7dPkn_HostSystem" />
      <ComponentRef Id="Registry.1" />
    </Feature>
  </Package>
</Wix>

