<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="30854a0c-8c60-4957-8ba4-a0a58f34fa12" Name="Pkn_HostSystem" Language="2052" Codepage="936" Version="1.2.0.0" UpgradeCode="f9a314c0-7f34-4a5d-abf3-54c4c48b9f2c" Manufacturer="潘智高">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="936" Languages="2052" />
    <Media Id="1" Cabinet="Pkn_HostSystem.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="Pokeniao" Name="Pokeniao">
          <Directory Id="INSTALLDIR" Name="Pkn_HostSystem">

            <Component Id="Component.CommunityToolkit.Mvvm.dll_1504554219" Guid="30854a0c-8c60-4957-8ba4-a0a545469061">
              <File Id="CommunityToolkit.Mvvm.dll_1504554219" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\CommunityToolkit.Mvvm.dll" />
            </Component>

            <Component Id="Component.DeepCloner.dll_2331594489" Guid="30854a0c-8c60-4957-8ba4-a0a5fa9eec22">
              <File Id="DeepCloner.dll_2331594489" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\DeepCloner.dll" />
            </Component>

            <Component Id="Component.DynamicData.dll_3509525992" Guid="30854a0c-8c60-4957-8ba4-a0a53464a4b8">
              <File Id="DynamicData.dll_3509525992" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\DynamicData.dll" />
            </Component>

            <Component Id="Component.halcondotnet.dll_2656917078" Guid="30854a0c-8c60-4957-8ba4-a0a53be2d7fe">
              <File Id="halcondotnet.dll_2656917078" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\halcondotnet.dll" />
            </Component>

            <Component Id="Component.log4net.dll_2844397005" Guid="30854a0c-8c60-4957-8ba4-a0a55d3ecd8a">
              <File Id="log4net.dll_2844397005" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\log4net.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_583533501" Guid="30854a0c-8c60-4957-8ba4-a0a5cb034138">
              <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll_583533501" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.DependencyInjection.dll_1933318465" Guid="30854a0c-8c60-4957-8ba4-a0a57f65718c">
              <File Id="Microsoft.Extensions.DependencyInjection.dll_1933318465" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>

            <Component Id="Component.Microsoft.Win32.SystemEvents.dll_3912676595" Guid="30854a0c-8c60-4957-8ba4-a0a5f9c51bcd">
              <File Id="Microsoft.Win32.SystemEvents.dll_3912676595" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Win32.SystemEvents.dll" />
            </Component>

            <Component Id="Component.Newtonsoft.Json.dll_502521095" Guid="30854a0c-8c60-4957-8ba4-a0a5b8047c71">
              <File Id="Newtonsoft.Json.dll_502521095" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Newtonsoft.Json.dll" />
            </Component>

            <Component Id="Component.NModbus.dll_1033598858" Guid="30854a0c-8c60-4957-8ba4-a0a50e16c793">
              <File Id="NModbus.dll_1033598858" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\NModbus.dll" />
            </Component>

            <Component Id="Component.NModbus.Serial.dll_3840489714" Guid="30854a0c-8c60-4957-8ba4-a0a5efb7227a">
              <File Id="NModbus.Serial.dll_3840489714" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\NModbus.Serial.dll" />
            </Component>

            <Component Id="Component.Pkn_HostSystem.deps.json_1756953878" Guid="30854a0c-8c60-4957-8ba4-a0a52ae027d0">
              <File Id="Pkn_HostSystem.deps.json_1756953878" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.deps.json" />
            </Component>

            <Component Id="Component.Pkn_HostSystem.dll_753292021" Guid="30854a0c-8c60-4957-8ba4-a0a5186bd52e">
              <File Id="Pkn_HostSystem.dll_753292021" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.dll" />
            </Component>

            <Component Id="Component.Pkn_HostSystem.exe_318430801" Guid="30854a0c-8c60-4957-8ba4-a0a56b4bc853">
              <File Id="Pkn_HostSystem.exe_318430801" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.exe" />
            </Component>

            <Component Id="Component.Pkn_HostSystem.pdb_480851667" Guid="30854a0c-8c60-4957-8ba4-a0a51e7b71d6">
              <File Id="Pkn_HostSystem.pdb_480851667" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.pdb" />
            </Component>

            <Component Id="Component.Pkn_HostSystem.runtimeconfig.json_2707448083" Guid="30854a0c-8c60-4957-8ba4-a0a5b0c5f362">
              <File Id="Pkn_HostSystem.runtimeconfig.json_2707448083" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.runtimeconfig.json" />
            </Component>

            <Component Id="Component.RestSharp.dll_1483822914" Guid="30854a0c-8c60-4957-8ba4-a0a5953ce7c8">
              <File Id="RestSharp.dll_1483822914" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\RestSharp.dll" />
            </Component>

            <Component Id="Component.System.Data.SqlClient.dll_2830561886" Guid="30854a0c-8c60-4957-8ba4-a0a58583a695">
              <File Id="System.Data.SqlClient.dll_2830561886" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Data.SqlClient.dll" />
            </Component>

            <Component Id="Component.System.Drawing.Common.dll_2697619026" Guid="30854a0c-8c60-4957-8ba4-a0a5043763c8">
              <File Id="System.Drawing.Common.dll_2697619026" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Drawing.Common.dll" />
            </Component>

            <Component Id="Component.System.IO.Ports.dll_3015645469" Guid="30854a0c-8c60-4957-8ba4-a0a57b71586f">
              <File Id="System.IO.Ports.dll_3015645469" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.IO.Ports.dll" />
            </Component>

            <Component Id="Component.System.Private.Windows.Core.dll_3491687787" Guid="30854a0c-8c60-4957-8ba4-a0a518c6355c">
              <File Id="System.Private.Windows.Core.dll_3491687787" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Private.Windows.Core.dll" />
            </Component>

            <Component Id="Component.System.Reactive.dll_3392391339" Guid="30854a0c-8c60-4957-8ba4-a0a511b7e4c6">
              <File Id="System.Reactive.dll_3392391339" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Reactive.dll" />
            </Component>

            <Component Id="Component.Wpf.Ui.Abstractions.dll_2374808241" Guid="30854a0c-8c60-4957-8ba4-a0a553cc0ceb">
              <File Id="Wpf.Ui.Abstractions.dll_2374808241" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.Abstractions.dll" />
            </Component>

            <Component Id="Component.Wpf.Ui.DependencyInjection.dll_914604106" Guid="30854a0c-8c60-4957-8ba4-a0a58d64aab8">
              <File Id="Wpf.Ui.DependencyInjection.dll_914604106" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.DependencyInjection.dll" />
            </Component>

            <Component Id="Component.Wpf.Ui.dll_5205624" Guid="30854a0c-8c60-4957-8ba4-a0a5c4228994">
              <File Id="Wpf.Ui.dll_5205624" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.dll" />
            </Component>

            <Directory Id="Config" Name="Config">

              <Component Id="Component.log4net.config_2775004803" Guid="30854a0c-8c60-4957-8ba4-a0a5dfe3848f">
                <File Id="log4net.config_2775004803" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Config\log4net.config" />
              </Component>

            </Directory>

            <Directory Id="lib" Name="lib">

              <Component Id="Component.halcon.dll_1333314474" Guid="30854a0c-8c60-4957-8ba4-a0a528fdce95">
                <File Id="halcon.dll_1333314474" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\halcon.dll" />
              </Component>

              <Component Id="Component.halcondl.dll_3718002559" Guid="30854a0c-8c60-4957-8ba4-a0a53ca103f6">
                <File Id="halcondl.dll_3718002559" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\halcondl.dll" />
              </Component>

              <Component Id="Component.hcanvas.dll_443742882" Guid="30854a0c-8c60-4957-8ba4-a0a576fc2acb">
                <File Id="hcanvas.dll_443742882" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\hcanvas.dll" />
              </Component>

            </Directory>

            <Directory Id="runtimes" Name="runtimes">
              <Directory Id="linux2darm" Name="linux-arm">
                <Directory Id="native" Name="native">

                  <Component Id="Component.libSystem.IO.Ports.Native.so_3077195307" Guid="30854a0c-8c60-4957-8ba4-a0a51bc41504">
                    <File Id="libSystem.IO.Ports.Native.so_3077195307" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\linux-arm\native\libSystem.IO.Ports.Native.so" />
                  </Component>

                </Directory>
              </Directory>

              <Directory Id="linux2darm64_" Name="linux-arm64">
                <Directory Id="native.1" Name="native">

                  <Component Id="Component.libSystem.IO.Ports.Native.so_3554463865" Guid="30854a0c-8c60-4957-8ba4-a0a59b5e57fc">
                    <File Id="libSystem.IO.Ports.Native.so_3554463865" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\linux-arm64\native\libSystem.IO.Ports.Native.so" />
                  </Component>

                </Directory>
              </Directory>

              <Directory Id="linux2dx64_" Name="linux-x64">
                <Directory Id="native.2" Name="native">

                  <Component Id="Component.libSystem.IO.Ports.Native.so_1689050070" Guid="30854a0c-8c60-4957-8ba4-a0a5812bf920">
                    <File Id="libSystem.IO.Ports.Native.so_1689050070" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\linux-x64\native\libSystem.IO.Ports.Native.so" />
                  </Component>

                </Directory>
              </Directory>

              <Directory Id="osx2darm64_" Name="osx-arm64">
                <Directory Id="native.3" Name="native">

                  <Component Id="Component.libSystem.IO.Ports.Native.dylib_2063017412" Guid="30854a0c-8c60-4957-8ba4-a0a5942772c8">
                    <File Id="libSystem.IO.Ports.Native.dylib_2063017412" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\osx-arm64\native\libSystem.IO.Ports.Native.dylib" />
                  </Component>

                </Directory>
              </Directory>

              <Directory Id="osx2dx64_" Name="osx-x64">
                <Directory Id="native.4" Name="native">

                  <Component Id="Component.libSystem.IO.Ports.Native.dylib_1150164858" Guid="30854a0c-8c60-4957-8ba4-a0a59352351e">
                    <File Id="libSystem.IO.Ports.Native.dylib_1150164858" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\osx-x64\native\libSystem.IO.Ports.Native.dylib" />
                  </Component>

                </Directory>
              </Directory>

              <Directory Id="unix" Name="unix">
                <Directory Id="lib.1" Name="lib">
                  <Directory Id="net7.0_" Name="net7.0">

                    <Component Id="Component.System.IO.Ports.dll_3794498451" Guid="30854a0c-8c60-4957-8ba4-a0a5b4703725">
                      <File Id="System.IO.Ports.dll_3794498451" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\unix\lib\net7.0\System.IO.Ports.dll" />
                    </Component>

                  </Directory>

                  <Directory Id="net8.0_" Name="net8.0">

                    <Component Id="Component.System.Data.SqlClient.dll_1917483425" Guid="30854a0c-8c60-4957-8ba4-a0a51c519651">
                      <File Id="System.Data.SqlClient.dll_1917483425" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\unix\lib\net8.0\System.Data.SqlClient.dll" />
                    </Component>

                  </Directory>
                </Directory>
              </Directory>

              <Directory Id="win" Name="win">
                <Directory Id="lib.2" Name="lib">
                  <Directory Id="net7.0.1" Name="net7.0">

                    <Component Id="Component.System.IO.Ports.dll_1514435143" Guid="30854a0c-8c60-4957-8ba4-a0a503ce42e5">
                      <File Id="System.IO.Ports.dll_1514435143" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net7.0\System.IO.Ports.dll" />
                    </Component>

                  </Directory>

                  <Directory Id="net8.0.1" Name="net8.0">

                    <Component Id="Component.Microsoft.Win32.SystemEvents.dll_337803169" Guid="30854a0c-8c60-4957-8ba4-a0a581c7a4a5">
                      <File Id="Microsoft.Win32.SystemEvents.dll_337803169" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net8.0\Microsoft.Win32.SystemEvents.dll" />
                    </Component>

                    <Component Id="Component.System.Data.SqlClient.dll_3655428174" Guid="30854a0c-8c60-4957-8ba4-a0a57c4561fb">
                      <File Id="System.Data.SqlClient.dll_3655428174" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net8.0\System.Data.SqlClient.dll" />
                    </Component>

                  </Directory>
                </Directory>
              </Directory>

              <Directory Id="win2darm64_" Name="win-arm64">
                <Directory Id="native.5" Name="native">

                  <Component Id="Component.sni.dll_4281468212" Guid="30854a0c-8c60-4957-8ba4-a0a5cf0884b7">
                    <File Id="sni.dll_4281468212" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-arm64\native\sni.dll" />
                  </Component>

                </Directory>
              </Directory>

              <Directory Id="win2dx64_" Name="win-x64">
                <Directory Id="native.6" Name="native">

                  <Component Id="Component.sni.dll_4133705733" Guid="30854a0c-8c60-4957-8ba4-a0a5efcaa26c">
                    <File Id="sni.dll_4133705733" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-x64\native\sni.dll" />
                  </Component>

                </Directory>
              </Directory>

              <Directory Id="win2dx86_" Name="win-x86">
                <Directory Id="native.7" Name="native">

                  <Component Id="Component.sni.dll_3519526948" Guid="30854a0c-8c60-4957-8ba4-a0a5108d5207">
                    <File Id="sni.dll_3519526948" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-x86\native\sni.dll" />
                  </Component>

                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder">

        <Component Id="Component.Pkn_HostSystem__" Guid="30854a0c-8c60-4957-8ba4-a0a5c9864a24">
          <Shortcut Id="DesktopFolder.Pkn_HostSystem__" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]Pkn_HostSystem.exe" Name="Pkn_HostSystem.lnk" />

          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Component Id="TARGETDIR" Guid="30854a0c-8c60-4957-8ba4-a0a5f2e46a84" KeyPath="yes">
        <RemoveFolder Id="TARGETDIR" On="uninstall" />
      </Component>

    </Directory>

    <Icon Id="app_icon.ico" SourceFile="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.exe" />

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="不能安装比当前版本更低的版本。" Schedule="afterInstallInitialize" />

    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />
    <Property Id="REINSTALLMODE" Value="omus" />

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.CommunityToolkit.Mvvm.dll_1504554219" />
      <ComponentRef Id="Component.DeepCloner.dll_2331594489" />
      <ComponentRef Id="Component.DynamicData.dll_3509525992" />
      <ComponentRef Id="Component.halcondotnet.dll_2656917078" />
      <ComponentRef Id="Component.log4net.dll_2844397005" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_583533501" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.dll_1933318465" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_3912676595" />
      <ComponentRef Id="Component.Newtonsoft.Json.dll_502521095" />
      <ComponentRef Id="Component.NModbus.dll_1033598858" />
      <ComponentRef Id="Component.NModbus.Serial.dll_3840489714" />
      <ComponentRef Id="Component.Pkn_HostSystem.deps.json_1756953878" />
      <ComponentRef Id="Component.Pkn_HostSystem.dll_753292021" />
      <ComponentRef Id="Component.Pkn_HostSystem.exe_318430801" />
      <ComponentRef Id="Component.Pkn_HostSystem.pdb_480851667" />
      <ComponentRef Id="Component.Pkn_HostSystem.runtimeconfig.json_2707448083" />
      <ComponentRef Id="Component.RestSharp.dll_1483822914" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_2830561886" />
      <ComponentRef Id="Component.System.Drawing.Common.dll_2697619026" />
      <ComponentRef Id="Component.System.IO.Ports.dll_3015645469" />
      <ComponentRef Id="Component.System.Private.Windows.Core.dll_3491687787" />
      <ComponentRef Id="Component.System.Reactive.dll_3392391339" />
      <ComponentRef Id="Component.Wpf.Ui.Abstractions.dll_2374808241" />
      <ComponentRef Id="Component.Wpf.Ui.DependencyInjection.dll_914604106" />
      <ComponentRef Id="Component.Wpf.Ui.dll_5205624" />
      <ComponentRef Id="Component.log4net.config_2775004803" />
      <ComponentRef Id="Component.halcon.dll_1333314474" />
      <ComponentRef Id="Component.halcondl.dll_3718002559" />
      <ComponentRef Id="Component.hcanvas.dll_443742882" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.so_3077195307" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.so_3554463865" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.so_1689050070" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.dylib_2063017412" />
      <ComponentRef Id="Component.libSystem.IO.Ports.Native.dylib_1150164858" />
      <ComponentRef Id="Component.System.IO.Ports.dll_3794498451" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_1917483425" />
      <ComponentRef Id="Component.System.IO.Ports.dll_1514435143" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_337803169" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_3655428174" />
      <ComponentRef Id="Component.sni.dll_4281468212" />
      <ComponentRef Id="Component.sni.dll_4133705733" />
      <ComponentRef Id="Component.sni.dll_3519526948" />
      <ComponentRef Id="Component.Pkn_HostSystem__" />
      <ComponentRef Id="TARGETDIR" />
    </Feature>

  </Product>
</Wix>

