<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="30854a0c-8c60-4957-8ba4-a0a58f14fa12" Name="Pkn_HostSystemInstaller" Language="2052" Codepage="936" Version="1.0.0.0" UpgradeCode="30854a0c-8c60-4957-8ba4-a0a57f14fa11" Manufacturer="潘智高">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="936" Languages="2052" />
    <Media Id="1" Cabinet="Pkn_HostSystemInstaller.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="Pokeniao" Name="Pokeniao">
          <Directory Id="INSTALLDIR" Name="Pkn_HostSystem">

            <Component Id="Component.Pkn_HostSystem.exe_318430801" Guid="30854a0c-8c60-4957-8ba4-a0a56b4bc853">
              <File Id="Pkn_HostSystem.exe_318430801" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.exe">
                <Shortcut Id="Shortcut.Pkn_HostSystem.exe_318430801.Pkn_HostSystem_" WorkingDirectory="INSTALLDIR" Directory="DesktopFolder" Name="Pkn_HostSystem.lnk" />
                <Shortcut Id="Shortcut.Pkn_HostSystem.exe_318430801.Pkn_HostSystem.1" WorkingDirectory="INSTALLDIR" Directory="StartupFolder" Name="Pkn_HostSystem.lnk" />
              </File>

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="bin" Name="bin">

        <Component Id="Component.CommunityToolkit.Mvvm.dll_1593612544" Guid="30854a0c-8c60-4957-8ba4-a0a5a9890aa6">
          <File Id="CommunityToolkit.Mvvm.dll_1593612544" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\CommunityToolkit.Mvvm.dll" />
        </Component>

        <Component Id="Component.DeepCloner.dll_1754111208" Guid="30854a0c-8c60-4957-8ba4-a0a5e13973a7">
          <File Id="DeepCloner.dll_1754111208" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\DeepCloner.dll" />
        </Component>

        <Component Id="Component.DynamicData.dll_137225581" Guid="30854a0c-8c60-4957-8ba4-a0a557bf803e">
          <File Id="DynamicData.dll_137225581" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\DynamicData.dll" />
        </Component>

        <Component Id="Component.halcondotnet.dll_2253150113" Guid="30854a0c-8c60-4957-8ba4-a0a58871f063">
          <File Id="halcondotnet.dll_2253150113" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\halcondotnet.dll" />
        </Component>

        <Component Id="Component.log4net.dll_1446065488" Guid="30854a0c-8c60-4957-8ba4-a0a5616d2169">
          <File Id="log4net.dll_1446065488" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\log4net.dll" />
        </Component>

        <Component Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_2364279082" Guid="30854a0c-8c60-4957-8ba4-a0a53e0dd6a4">
          <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll_2364279082" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
        </Component>

        <Component Id="Component.Microsoft.Extensions.DependencyInjection.dll_3453423212" Guid="30854a0c-8c60-4957-8ba4-a0a520d97463">
          <File Id="Microsoft.Extensions.DependencyInjection.dll_3453423212" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Extensions.DependencyInjection.dll" />
        </Component>

        <Component Id="Component.Microsoft.Win32.SystemEvents.dll_2640724753" Guid="30854a0c-8c60-4957-8ba4-a0a54fc53eab">
          <File Id="Microsoft.Win32.SystemEvents.dll_2640724753" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Microsoft.Win32.SystemEvents.dll" />
        </Component>

        <Component Id="Component.Newtonsoft.Json.dll_2318931338" Guid="30854a0c-8c60-4957-8ba4-a0a568db5d8f">
          <File Id="Newtonsoft.Json.dll_2318931338" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Newtonsoft.Json.dll" />
        </Component>

        <Component Id="Component.NModbus.dll_1602911480" Guid="30854a0c-8c60-4957-8ba4-a0a525875762">
          <File Id="NModbus.dll_1602911480" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\NModbus.dll" />
        </Component>

        <Component Id="Component.NModbus.Serial.dll_935983446" Guid="30854a0c-8c60-4957-8ba4-a0a51e73f561">
          <File Id="NModbus.Serial.dll_935983446" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\NModbus.Serial.dll" />
        </Component>

        <Component Id="Component.Pkn_HostSystem.dll_995851755" Guid="30854a0c-8c60-4957-8ba4-a0a50eeea864">
          <File Id="Pkn_HostSystem.dll_995851755" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.dll" />
        </Component>

        <Component Id="Component.RestSharp.dll_1712618621" Guid="30854a0c-8c60-4957-8ba4-a0a537957fea">
          <File Id="RestSharp.dll_1712618621" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\RestSharp.dll" />
        </Component>

        <Component Id="Component.System.Data.SqlClient.dll_3757670344" Guid="30854a0c-8c60-4957-8ba4-a0a594b70610">
          <File Id="System.Data.SqlClient.dll_3757670344" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Data.SqlClient.dll" />
        </Component>

        <Component Id="Component.System.Drawing.Common.dll_1471326982" Guid="30854a0c-8c60-4957-8ba4-a0a527750589">
          <File Id="System.Drawing.Common.dll_1471326982" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Drawing.Common.dll" />
        </Component>

        <Component Id="Component.System.IO.Ports.dll_3119732606" Guid="30854a0c-8c60-4957-8ba4-a0a5d0e45073">
          <File Id="System.IO.Ports.dll_3119732606" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.IO.Ports.dll" />
        </Component>

        <Component Id="Component.System.Private.Windows.Core.dll_901396885" Guid="30854a0c-8c60-4957-8ba4-a0a5f83c5c4b">
          <File Id="System.Private.Windows.Core.dll_901396885" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Private.Windows.Core.dll" />
        </Component>

        <Component Id="Component.System.Reactive.dll_500107140" Guid="30854a0c-8c60-4957-8ba4-a0a5c53323ed">
          <File Id="System.Reactive.dll_500107140" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\System.Reactive.dll" />
        </Component>

        <Component Id="Component.Wpf.Ui.Abstractions.dll_1820075172" Guid="30854a0c-8c60-4957-8ba4-a0a5c3fcdcb2">
          <File Id="Wpf.Ui.Abstractions.dll_1820075172" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.Abstractions.dll" />
        </Component>

        <Component Id="Component.Wpf.Ui.DependencyInjection.dll_3578158994" Guid="30854a0c-8c60-4957-8ba4-a0a572f833e9">
          <File Id="Wpf.Ui.DependencyInjection.dll_3578158994" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.DependencyInjection.dll" />
        </Component>

        <Component Id="Component.Wpf.Ui.dll_3799635074" Guid="30854a0c-8c60-4957-8ba4-a0a57d8c37be">
          <File Id="Wpf.Ui.dll_3799635074" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Wpf.Ui.dll" />
        </Component>

        <Directory Id="Config" Name="Config">

          <Component Id="Component.Config.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a56e01de77" KeyPath="yes">
            <CreateFolder />
            <RemoveFolder Id="Config" On="uninstall" />
          </Component>

        </Directory>

        <Directory Id="lib" Name="lib">

          <Component Id="Component.halcon.dll_483576920" Guid="30854a0c-8c60-4957-8ba4-a0a5b381b494">
            <File Id="halcon.dll_483576920" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\halcon.dll" />
          </Component>

          <Component Id="Component.halcondl.dll_1618665465" Guid="30854a0c-8c60-4957-8ba4-a0a5cfd48452">
            <File Id="halcondl.dll_1618665465" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\halcondl.dll" />
          </Component>

          <Component Id="Component.hcanvas.dll_1241716104" Guid="30854a0c-8c60-4957-8ba4-a0a53ce4cc90">
            <File Id="hcanvas.dll_1241716104" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\lib\hcanvas.dll" />
          </Component>

        </Directory>

        <Directory Id="runtimes" Name="runtimes">
          <Directory Id="linux2darm" Name="linux-arm">
            <Directory Id="native" Name="native">

              <Component Id="Component.native.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a50c7ad937" KeyPath="yes">
                <CreateFolder />
                <RemoveFolder Id="native" On="uninstall" />
              </Component>

            </Directory>

            <Component Id="linux2darm" Guid="30854a0c-8c60-4957-8ba4-a0a581f78dcc" KeyPath="yes">
              <CreateFolder />
              <RemoveFolder Id="linux2darm" On="uninstall" />
            </Component>

          </Directory>

          <Directory Id="linux2darm64_" Name="linux-arm64">
            <Directory Id="native.1" Name="native">

              <Component Id="Component.native.1.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a5c707253f" KeyPath="yes">
                <CreateFolder />
                <RemoveFolder Id="native.1" On="uninstall" />
              </Component>

            </Directory>

            <Component Id="linux2darm64_" Guid="30854a0c-8c60-4957-8ba4-a0a5dc88332b" KeyPath="yes">
              <CreateFolder />
              <RemoveFolder Id="linux2darm64_" On="uninstall" />
            </Component>

          </Directory>

          <Directory Id="linux2dx64_" Name="linux-x64">
            <Directory Id="native.2" Name="native">

              <Component Id="Component.native.2.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a52c282ca8" KeyPath="yes">
                <CreateFolder />
                <RemoveFolder Id="native.2" On="uninstall" />
              </Component>

            </Directory>

            <Component Id="linux2dx64_" Guid="30854a0c-8c60-4957-8ba4-a0a567ce334f" KeyPath="yes">
              <CreateFolder />
              <RemoveFolder Id="linux2dx64_" On="uninstall" />
            </Component>

          </Directory>

          <Directory Id="osx2darm64_" Name="osx-arm64">
            <Directory Id="native.3" Name="native">

              <Component Id="Component.native.3.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a51b252cb7" KeyPath="yes">
                <CreateFolder />
                <RemoveFolder Id="native.3" On="uninstall" />
              </Component>

            </Directory>

            <Component Id="osx2darm64_" Guid="30854a0c-8c60-4957-8ba4-a0a50d844be6" KeyPath="yes">
              <CreateFolder />
              <RemoveFolder Id="osx2darm64_" On="uninstall" />
            </Component>

          </Directory>

          <Directory Id="osx2dx64_" Name="osx-x64">
            <Directory Id="native.4" Name="native">

              <Component Id="Component.native.4.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a5f6fe2463" KeyPath="yes">
                <CreateFolder />
                <RemoveFolder Id="native.4" On="uninstall" />
              </Component>

            </Directory>

            <Component Id="osx2dx64_" Guid="30854a0c-8c60-4957-8ba4-a0a52ac42e37" KeyPath="yes">
              <CreateFolder />
              <RemoveFolder Id="osx2dx64_" On="uninstall" />
            </Component>

          </Directory>

          <Directory Id="unix" Name="unix">
            <Directory Id="lib.1" Name="lib">
              <Directory Id="net7.0_" Name="net7.0">

                <Component Id="Component.System.IO.Ports.dll_497005090" Guid="30854a0c-8c60-4957-8ba4-a0a56f2476d3">
                  <File Id="System.IO.Ports.dll_497005090" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\unix\lib\net7.0\System.IO.Ports.dll" />
                </Component>

              </Directory>

              <Directory Id="net8.0_" Name="net8.0">

                <Component Id="Component.System.Data.SqlClient.dll_3162533428" Guid="30854a0c-8c60-4957-8ba4-a0a5dd10a123">
                  <File Id="System.Data.SqlClient.dll_3162533428" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\unix\lib\net8.0\System.Data.SqlClient.dll" />
                </Component>

              </Directory>
            </Directory>
          </Directory>

          <Directory Id="win" Name="win">
            <Directory Id="lib.2" Name="lib">
              <Directory Id="net7.0.1" Name="net7.0">

                <Component Id="Component.System.IO.Ports.dll_884725051" Guid="30854a0c-8c60-4957-8ba4-a0a58cba0fc3">
                  <File Id="System.IO.Ports.dll_884725051" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net7.0\System.IO.Ports.dll" />
                </Component>

              </Directory>

              <Directory Id="net8.0.1" Name="net8.0">

                <Component Id="Component.Microsoft.Win32.SystemEvents.dll_3588431417" Guid="30854a0c-8c60-4957-8ba4-a0a56cec17d6">
                  <File Id="Microsoft.Win32.SystemEvents.dll_3588431417" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net8.0\Microsoft.Win32.SystemEvents.dll" />
                </Component>

                <Component Id="Component.System.Data.SqlClient.dll_3250385163" Guid="30854a0c-8c60-4957-8ba4-a0a554156486">
                  <File Id="System.Data.SqlClient.dll_3250385163" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win\lib\net8.0\System.Data.SqlClient.dll" />
                </Component>

              </Directory>
            </Directory>
          </Directory>

          <Directory Id="win2darm64_" Name="win-arm64">
            <Directory Id="native.5" Name="native">

              <Component Id="Component.sni.dll_2493268837" Guid="30854a0c-8c60-4957-8ba4-a0a5ddd2bccc">
                <File Id="sni.dll_2493268837" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-arm64\native\sni.dll" />
              </Component>

            </Directory>
          </Directory>

          <Directory Id="win2dx64_" Name="win-x64">
            <Directory Id="native.6" Name="native">

              <Component Id="Component.sni.dll_1255809857" Guid="30854a0c-8c60-4957-8ba4-a0a53c92102a">
                <File Id="sni.dll_1255809857" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-x64\native\sni.dll" />
              </Component>

            </Directory>
          </Directory>

          <Directory Id="win2dx86_" Name="win-x86">
            <Directory Id="native.7" Name="native">

              <Component Id="Component.sni.dll_4020016527" Guid="30854a0c-8c60-4957-8ba4-a0a58678459e">
                <File Id="sni.dll_4020016527" Source="..\Pkn_HostSystem\bin\Debug\net8.0-windows\runtimes\win-x86\native\sni.dll" />
              </Component>

            </Directory>
          </Directory>

          <Component Id="runtimes" Guid="30854a0c-8c60-4957-8ba4-a0a506101775" KeyPath="yes">
            <CreateFolder />
            <RemoveFolder Id="runtimes" On="uninstall" />
          </Component>

        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder">

        <Component Id="Component.DesktopFolder.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a5be2e9b17">
          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Directory Id="StartupFolder" Name="StartupFolder">

        <Component Id="Component.StartupFolder.EmptyDirectory" Guid="30854a0c-8c60-4957-8ba4-a0a538fbd9ae">
          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Component Id="TARGETDIR" Guid="30854a0c-8c60-4957-8ba4-a0a5f2e46a84" KeyPath="yes">
        <CreateFolder />
        <RemoveFolder Id="TARGETDIR" On="uninstall" />
      </Component>

    </Directory>

    <Icon Id="app_icon.ico" SourceFile="..\Pkn_HostSystem\bin\Debug\net8.0-windows\Pkn_HostSystem.exe" />

    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.Pkn_HostSystem.exe_318430801" />
      <ComponentRef Id="Component.CommunityToolkit.Mvvm.dll_1593612544" />
      <ComponentRef Id="Component.DeepCloner.dll_1754111208" />
      <ComponentRef Id="Component.DynamicData.dll_137225581" />
      <ComponentRef Id="Component.halcondotnet.dll_2253150113" />
      <ComponentRef Id="Component.log4net.dll_1446065488" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_2364279082" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.dll_3453423212" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_2640724753" />
      <ComponentRef Id="Component.Newtonsoft.Json.dll_2318931338" />
      <ComponentRef Id="Component.NModbus.dll_1602911480" />
      <ComponentRef Id="Component.NModbus.Serial.dll_935983446" />
      <ComponentRef Id="Component.Pkn_HostSystem.dll_995851755" />
      <ComponentRef Id="Component.RestSharp.dll_1712618621" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_3757670344" />
      <ComponentRef Id="Component.System.Drawing.Common.dll_1471326982" />
      <ComponentRef Id="Component.System.IO.Ports.dll_3119732606" />
      <ComponentRef Id="Component.System.Private.Windows.Core.dll_901396885" />
      <ComponentRef Id="Component.System.Reactive.dll_500107140" />
      <ComponentRef Id="Component.Wpf.Ui.Abstractions.dll_1820075172" />
      <ComponentRef Id="Component.Wpf.Ui.DependencyInjection.dll_3578158994" />
      <ComponentRef Id="Component.Wpf.Ui.dll_3799635074" />
      <ComponentRef Id="Component.Config.EmptyDirectory" />
      <ComponentRef Id="Component.halcon.dll_483576920" />
      <ComponentRef Id="Component.halcondl.dll_1618665465" />
      <ComponentRef Id="Component.hcanvas.dll_1241716104" />
      <ComponentRef Id="Component.native.EmptyDirectory" />
      <ComponentRef Id="Component.native.1.EmptyDirectory" />
      <ComponentRef Id="Component.native.2.EmptyDirectory" />
      <ComponentRef Id="Component.native.3.EmptyDirectory" />
      <ComponentRef Id="Component.native.4.EmptyDirectory" />
      <ComponentRef Id="Component.System.IO.Ports.dll_497005090" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_3162533428" />
      <ComponentRef Id="Component.System.IO.Ports.dll_884725051" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_3588431417" />
      <ComponentRef Id="Component.System.Data.SqlClient.dll_3250385163" />
      <ComponentRef Id="Component.sni.dll_2493268837" />
      <ComponentRef Id="Component.sni.dll_1255809857" />
      <ComponentRef Id="Component.sni.dll_4020016527" />
      <ComponentRef Id="Component.DesktopFolder.EmptyDirectory" />
      <ComponentRef Id="Component.StartupFolder.EmptyDirectory" />
      <ComponentRef Id="TARGETDIR" />
      <ComponentRef Id="linux2darm" />
      <ComponentRef Id="runtimes" />
      <ComponentRef Id="linux2darm64_" />
      <ComponentRef Id="linux2dx64_" />
      <ComponentRef Id="osx2darm64_" />
      <ComponentRef Id="osx2dx64_" />
    </Feature>

  </Product>
</Wix>

